@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url("../fonts/Montserrat-SemiBold.otf");
}

html {
    font-family: sans-serif;
    /* 1 */
    line-height: 1.15;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 3 */
    -webkit-text-size-adjust: 100%;
    /* 3 */
}


/* Sections
       ========================================================================== */


/**
     * Remove the margin in all browsers (opinionated).
     */

body {
    margin: 0;
}


/**
     * Add the correct display in IE 9-.
     */

article,
aside,
footer,
header,
nav,
section {
    display: block;
}


/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.b-video-player-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    max-width: 854px;
}

.b-text-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-family: "Montserrat-SemiBold";
    color: #000000;
    z-index: 0;
}

.b-text-animation.is-ready {
    z-index: 99;
}

.video-js .vjs-big-play-button {
    z-index: 99;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vjs-control-bar {
    z-index: 100;
}

.video-js.vjs-fullscreen {
    height: 0 !important;
    padding-top: 56.25% !important;
}

@-webkit-keyframes show {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.show {
    -webkit-animation-name: show;
    -webkit-animation-duration: 4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    animation-name: show;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 1 !important;
}

@-webkit-keyframes grow {
    0% {
        width: 5px;
        height: 5px;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}

@keyframes grow {
    0% {
        width: 5px;
        height: 5px;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}

.charlie {
    opacity: 0;
}

.charlie.animated {
    opacity: 1;
}

#textAnimate1 {
    position: absolute;
    top: 46%;
    font-size: 49px;
    color: #0C267B;
    font-weight: 500;
    display: inline-block;
}

@media (max-width: 854px) {
    #textAnimate1 {
        font-size: 5.76vw;
    }
}

.vjs-fullscreen #textAnimate1 {
    font-size: 8.1967vw;
    top: 26.93vw;
}

.textAnimate2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#textAnimate2 {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 54%;
    left: 23%;
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
}

@media (max-width: 854px) {
    #textAnimate2 {
        font-size: 7.0257vw;
    }
}

.vjs-fullscreen #textAnimate2 {
    font-size: 5vw;
}

#animate3 {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 50%;
    left: 15%;
    width: 40%;
    height: auto;
    font-size: 23px;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    color: #01498e;
}

@media (max-width: 854px) {
    #animate3 {
        font-size: 3.04vw;
    }
}

.vjs-fullscreen #animate3 {
    font-size: 3.04vw;
}

.animate5 {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    top: 60%;
    left: 25%;
    width: 50%;
    height: 40%;
    font-size: 18px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 10px;
}

@media (max-width: 854px) {
    .animate5 {
        font-size: 2.04vw;
    }
}

.button {
    height: 50px;
    width: 200px;
}
.button-opacity{
  opacity: 1;
  z-index: 200;
}
.button__left {
    background: url("../img/arrow-right.png") center no-repeat;
    background-size: contain;
}

.button__right {
    background: url("../img/arrow-left.png") center no-repeat;
    background-size: contain;
}

.button__left>a,
.button__right>a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.vjs-fullscreen .animate5 {
    font-size: 2.04vw;
}

.vjs-fullscreen .animate5 .button {
    height: 10vh;
    width: 20vw;
}

#animate_finish {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
}

.video-js.vjs-has-ended .vjs-poster {
    display: block;
}

@-webkit-keyframes textAnimate1 {
    from,
    3% {
        opacity: 0;
        -webkit-transform: translate(0, 50%);
        transform: translate(0, 50%);
    }
    6%,
    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    13%,
    97% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes textAnimate1 {
    from,
    3% {
        opacity: 0;
        -webkit-transform: translate(0, 50%);
        transform: translate(0, 50%);
    }
    6%,
    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    13%,
    97% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.textAnimate1 {
    -webkit-animation: textAnimate1 3s linear;
    animation: textAnimate1 3s linear;
}

@-webkit-keyframes textAnimate2 {
    from,
    6% {
        opacity: 0;
        -webkit-transform: rotate(-32deg) translate(0, 0);
        transform: rotate(-32deg) translate(0, 0);
    }
    8% {
        opacity: 1;
        -webkit-transform: rotate(-32deg) translate(0, 0);
        transform: rotate(-32deg) translate(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: rotate(-34deg) translate(0, 40%);
        transform: rotate(-34deg) translate(0, 40%);
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(-34deg) translate(0, 40%);
        transform: rotate(-34deg) translate(0, 40%);
    }
}

@keyframes textAnimate2 {
    from,
    6% {
        opacity: 0;
        -webkit-transform: rotate(-32deg) translate(0, 0);
        transform: rotate(-32deg) translate(0, 0);
    }
    8% {
        opacity: 1;
        -webkit-transform: rotate(-32deg) translate(0, 0);
        transform: rotate(-32deg) translate(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: rotate(-34deg) translate(0, 40%);
        transform: rotate(-34deg) translate(0, 40%);
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(-34deg) translate(0, 40%);
        transform: rotate(-34deg) translate(0, 40%);
    }
}

.textAnimate2 {
    -webkit-animation: textAnimate2 2.3s cubic-bezier(1, 0.8, 0.8, 1.2);
    animation: textAnimate2 2.3s cubic-bezier(1, 0.8, 0.8, 1.2);
}

@-webkit-keyframes textAnimate3 {
    from,
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
}

@keyframes textAnimate3 {
    from,
    15% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(20%);
        transform: translateX(20%);
    }
}

.textAnimate3 {
    -webkit-animation: textAnimate3 3s;
    animation: textAnimate3 3s;
}

@-webkit-keyframes textAnimate3Letter {
    from {
        -webkit-transform: translateY(10.42%);
        transform: translateY(10.42%);
    }
    10%,
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes textAnimate3Letter {
    from {
        -webkit-transform: translateY(10.42%);
        transform: translateY(10.42%);
    }
    10%,
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.textAnimate3Letter {
    -webkit-animation: textAnimate3Letter 2s;
    animation: textAnimate3Letter 2s;
}

@-webkit-keyframes textAnimate3LetterOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes textAnimate3LetterOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.textAnimate3LetterOut {
    -webkit-animation: textAnimate3LetterOut 0.2s;
    animation: textAnimate3LetterOut 0.2s;
}

@-webkit-keyframes animate5__line1 {
    from {
        z-index: 0;
        opacity: 0;
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
    }
    10%,
    84.8% {
        z-index: 200;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        z-index: 200;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animate5__line1 {
    from {
        z-index: 0;
        opacity: 0;
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
    }
    10%,
    84.8% {
        z-index: 200;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        z-index: 200;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.animate5__line1 {
    -webkit-animation: animate5__line1 3s;
    animation: animate5__line1 3s;
}

@-webkit-keyframes animate5__line2 {
    from {
        z-index: 0;
        opacity: 0;
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
    }
    10%,
    84.8% {
        z-index: 200;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        z-index: 200;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animate5__line2 {
    from {
        z-index: 0;
        opacity: 0;
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
    }
    10%,
    84.8% {
        z-index: 200;
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        z-index: 200;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.animate5__line2 {
    -webkit-animation: animate5__line2 3s;
    animation: animate5__line2 3s;
}
